.hidden {
	display: none;
}
#centro {
	background-color: #333333;
}
#wrapper {
	width: 100%;
}
.pin {
	display: inline-block;
	height: 33%;
	margin-right: -4px;
	opacity: 0.85;
	min-width: 206px;
}
.pin a {
}
.pin img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: top;
}
#columns:hover .pin:not(:hover) {
opacity: 0.1;
}

#columns:hover .pin:hover {
	opacity: 1;
}
div#flechas {
	width: 90px;
	height: 46px;
	bottom: 0px;
	right: 0px;
	position: fixed;
}
div#flechas div#izq {
	width: 45px;
	height: 46px;
	background-image: url(../images/izq.jpg);
	background-position: 0px 0px;
	float: left;
	cursor: pointer;
}
div#flechas div#izq:hover {
	background-position: 45px 0px;
}
div#flechas div#der {
	width: 45px;
	height: 46px;
	background-image: url(../images/der.jpg);
	background-position: 0px 0px;
	float: right;
	cursor: pointer;
}
div#flechas div#der:hover {
	background-position: 45px 0px;
}