.hidden {
	display: none;
}
#centro {
	background-color: #333333;
}
#wrapper {
	width: 100%;
}
.pin {
	height: 33%;
	display: inline-block;
	margin-right: -4px;
	opacity: 0.1;
}
.pin a {
}
.pin img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: top;
}
#columns:hover .pin:not(:hover) {
opacity: 0.1;
}

#columns:hover .pin:hover {
	opacity: 1;
}