* {
  box-sizing: border-box;
}
body #web {
  width: 100%;
  height: auto;
  background: rgba(253, 253, 253, 0.8);
}
body #web .datosPostulante {
  width: 70%;
  margin: .9em 15% 0 15%;
  margin: 0 auto;
}
body #web .datosPostulante fieldset .row .col-lg-5 {
  min-width: 250px;
  margin: 0 30%;
}
body #web .datosPostulante fieldset .row .col-lg-5 .title {
  text-align: center;
}
