@color-p:rgba(253, 253, 253, 0.8);//#F2F1F0
*{box-sizing:border-box;}
@ancho-web:100%;

body {
	#web{
		width: @ancho-web;
		height: auto;
		background: @color-p;
			.datosPostulante{
				width: 70%;
				margin: .9em 15% 0 15%;
				margin: 0 auto;
				fieldset{
					.row{
						.col-lg-5{
							min-width: 250px;
							margin: 0 30%;
							 .title{
									text-align: center;
							 }
						}
					}
				}
			}
	}
}
