div#izq {
	background-color: #00bfc0;
/*	background-image: url("../images/trabaja/01.jpg");
	background-position: center top;
	background-repeat: no-repeat; */
	float: left;
	font-family: 'MuseoSans_300';
	height: 110%;
	position: relative;
	width: 316px;
}
div#izq div#texto {
	height: 380px;
	left: 50%;
	margin-left: -115px;
	margin-right: auto;
	margin-top: -190px;
	position: absolute;
	top: 50%;
	width: 230px;
}
div#izq h2 {
	font-family: 'MuseoSans_500';
	font-size: 13pt;
	font-weight: bold;
}
div#izq p {
	color: #FFFFFF;
	font-family: 'MuseoSans_300';
	font-size: 8pt;
	font-weight: normal;
	text-align: justify;
}
div#der {
	background-image: url("../images/trabaja/02.jpg");
	background-size: cover;
	background-position: left center;
	width: 100%;
	height: 110%;
}
#formulario {
	color: #fff;
	margin-left: -135px;
	left: 50%;
	margin-top: -365px;
	width: 270px;
	height: 610px;
	top: 50%;
	position: absolute;
}
#formulario h1 {
	font-size: 220%;
	color: #fff;
	font-weight: normal;
}
#formulario p {
	margin-bottom: 10px;
	font-size: 12px;
}
input {
	border: 1px solid #FFFFFF;
	font-family: 'MuseoSans_300';
	font-size: 12px;
	height: 24px;
	margin-bottom: 10px;
	padding: 5px;
	width: 265px;
}
textarea {
	border: 1px solid #FFFFFF;
	font-family: 'MuseoSans_300';
	font-size: 12px;
	height: 94px;
	margin-bottom: 10px;
	padding: 5px;
	resize: none;
	width: 265px;
}

button {
	background-image: url("../images/trabaja/enviar.jpg");
	border: 0 none;
	height: 30px;
	width: 110px;
}
div.file {
	background-image: url("../images/trabaja/file.jpg");
	width: 277px;
	height: 36px;
	margin-bottom: 10px;
}
div.select {
	background-image: url("../images/trabaja/select.jpg");
	width: 277px;
	height: 36px;
	margin-bottom: 10px;
	overflow: hidden;
}
div.select select {
	width: 295px;
	height: 36px;
	border: 0px;
	background: transparent;
}
div.selectt option {
	width: 295px;
	height: 36px;
	background-color: #fff;
}
