<!doctype html>
<html lang="en" ng-app="appMKT">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
			<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Bubbler+One' rel='stylesheet' type='text/css'>
			<link href='http://fonts.googleapis.com/css?family=Alegreya+Sans' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
			<link rel="stylesheet" href="/public/styles/fonts/font-awesome-4.0.3/css/font-awesome.min.css">
			<link rel="stylesheet" href="/public/styles/css/validationEngine.jquery.css">
			<link rel="stylesheet" href="/public/styles/css/trabaja_con_nosotros.css">
			<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
</head>
<body>
	<div id="web">
		<form ng-controller="postulanteCtrl" name="datosPostulante" class="datosPostulante" id="datosPostulante">
			<legend>Unete a nosotros</legend>
			<fieldset>
				<div class="row">
					<div class="col-md-9">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="title">
									<i class="fa fa-user fa-1x"></i>	
									<label>Datos Personales</label>
								</div>
							</div><!-- .panel-heading -->
							<div class="panel-body">
								<div class="col-md-9">
									<div class="form-group">
										<input type="text" name="nombres" class="form-control validate[required] nombres" placeholder="nombre(s)" >
									</div>
									<div class="form-group">
										<input type="text" class="form-control validate[required] ap_paterno" placeholder="apellido paterno" >
									</div>
									<div class="form-group">
										<input type="text" class="form-control validate[required] ap_materno" placeholder="apellido materno" >
									</div>
									<div class="form-group">
										<select class="form-control validate[required] sexo" ><!--sexo  -->
											<option ng-repeat="s in sexo">{{s}}</option>
										</select>
									</div>
									<div class="form-group">
										<select class="form-control validate[required] estado_civil" id=""><!--estado civil  -->
											<option ng-repeat="e in estado_civil">{{e}}</option>
										</select>
									</div>
									<div class="form-group">
										<select class="form-control validate[required] nacionalidad" id=""><!--nacionalidad  -->
											<option ng-repeat="n in nacionalidad">{{n}}</option>
										</select>
									</div>
									<div class="form-group">
										<input type="number" class="form-control validate[required,minSize[8],maxSize[10],custom[onlyLetterNumber]] dni" placeholder="dni"><!--dni  -->
									</div>
									<div class="form-group">
										<label for="fecha_nac">fecha nacimiento</label><input class="form-control validate[required] fecha_nac" type="date" name="fecha_nac" min="1950-01-01" max="1996-01-01"><!--fecha nacimiento  -->
									</div>
								</div>
							</div><!-- .panel-body -->
						</div><!-- .panel-default-->
					</div><!-- .col-lg-4 -->
				</div><!-- .row -->
			</fieldset>
			<fieldset>
				<div class="row">
					<div class="col-md-9">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="title">
									<i class="fa fa-user fa-1x"></i>	
									<label>Datos de Contacto</label>
								</div>
							</div><!-- .panel-heading -->
							<div class="panel-body">
								<div class="col-md-9">
									<div class="form-group">
										<input type="email" class="form-control validate[required] email" placeholder="correo" >
									</div>
									<div class="form-group">
										<input type="tel" class="form-control validate[required,custom[onlyLetterNumber]] telefono" placeholder="telefono" >
									</div>
									<div class="form-group">
										<input type="tel" class="form-control validate[required,custom[onlyLetterNumber]] celular" placeholder="celular" >
									</div>
									<div class="form-group">
										<input type="text" class="form-control validate[required] domicilio" placeholder="domicilio" >
									</div>
									<div class="form-group">
										<input type="text" class="form-control validate[required] referencia_doc" placeholder="referencia de domicilio" >
									</div>
								</div>
							</div><!-- .panel-body -->
						</div><!-- .panel-default-->
					</div><!-- .col-lg-4 -->
				</div><!-- .row -->
			</fieldset>
			<fieldset>
				<div class="row">
					<div class="col-md-9">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="title">
									<i class="fa fa-user fa-1x"></i>	
									<label>Datos de Estudios/Experiencia</label>
								</div>
							</div><!-- .panel-heading -->
							<div class="panel-body">
								<div class="col-md-9">
									<div class="form-group">
										<select class="form-control validate[required] grado_estudio" name="grado_estudio"><!--grado de estudio  -->
											<option ng-repeat="g in grado_estudio">{{g}}</option>
										</select>
									</div>
									<div class="form-group">
										<input type="text" class="form-control validate[required] institucion" placeholder="institucion" >
									</div>
									<div class="form-group">
										<input type="text" class="form-control validate[required] especialidad" placeholder="especialidad" >
									</div>
									<div class="form-group">
										<select class="form-control validate[required] estado_estudio" name="estado_estudio"><!--Estado de estudio  -->
											<option ng-repeat="e in estado_estudio">{{e}}</option>
										</select>
									</div>
								</div>
							</div><!-- .panel-body -->
						</div><!-- .panel-default-->
					</div><!-- .col-lg-4 -->
				</div><!-- .row -->
			</fieldset>
			<fieldset>
				<div class="row">
					<div class="col-md-9">
						<div class="well well-lg-5">
								<select ng-model="puesto" ng-options="puesto.puesto_nombre for puesto in puestos" class="form-control validate[required]" name="puesto">
								</select><!--puesto al que postula -->
								<label>{{puesto.puesto_requiere}}</label>
								<label for="cv">Subir CV: </label><input type="file" value="Subir CV" name="cv" class="form-control validate[required] cv">
						</div>
					</div><!-- .col-lg-4 -->
				</div><!-- .row -->	
			</fieldset>
			<fieldset class="datos-especiales">
				<div class="row" ng-show="puesto.puesto_requiere == 02">
					<div class="col-md-9">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="title">
									<i class="fa fa-user fa-1x"></i>	
									<label>Datos de Especiales</label>
								</div>
							</div><!-- .panel-heading -->
							<div class="panel-body">
								<div class="col-md-9">
										<div class="form-group">
											<input type="number" class="form-control validate[required,custom[number],min[25],max[150]] peso" placeholder="peso(kilos)" >
										</div>
										<div class="form-group">
											<input type="number" class="form-control validate[required,custom[number],min[1.3].min[2.4] talla" placeholder="talla(metros)" >
										</div>
										<div class="form-group">
											<label for="foto">Elegir foto</label><input type="file" name="foto" class="form-control validate[required] foto">
										</div>
								</div>
							</div><!-- .panel-body -->
						</div><!-- .panel-default-->
					</div><!-- .col-lg-4 -->
				</div><!-- .row -->
			</fieldset>
			<div class="botonera">
				<button class="submit btn btn-default">ENVIAR</button>
			</div>
		</form>
	</div>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<script src="/public/js/lib/modernizr.custom.88281.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
	<script src="/public/js/lib/jquery.validationEngine-en.js"></script>
	<script src="/public/js/lib/jquery.validationEngine.js"></script>
	<script src="/public/js/lib/upload.js"></script>
	<script src="/public/js/lib/angular.min.js"></script>
	<script src="/public/js/app.js"></script>
	<script src="/public/js/factorys.js"></script>
	<script src="/public/js/services.js"></script>
	<script src="/public/js/controllers.js"></script>
</body>
</html>