li.list-group-item(ng-controller="accesoTrabajarPuestosCtrl",class="{{getActive(trabajarPuestosAccess.id)}}")
	a(href="#{{trabajarPuestosAccess.id}}",data-toggle="tab")|Trabajar Puestos
		i.fa(class="fa-legal fa-2x")