li.list-group-item(ng-controller="accesoModificarDatosCtrl",class="{{getActive(modificarDatosAccess.id)}}")
	a(href="#{{modificarDatosAccess.id}}",data-toggle="tab")|Modificar datos
		i.fa(class="fa-gear fa-2x")