li.list-group-item(ng-controller="accesoTrabajarPuestosCtrl",class="{{getActive(trabajarPuestos.id)}}")
	a(href="#{{trabajarPuestos.id}}",data-toggle="tab")|Trabajar Puestos
		i.fa(class="fa-gear fa-2x")