<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">

		<title>Marketing Alterno - Clientes</title>
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/jquery.fancybox.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/estilo.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/clientes.css" type="text/css" media="screen">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.fancybox.js"></script>
	</head>

	<body>
		<div id="cuerpo">
			<div id="izquierda">
				<div id="logo"><img src="images/logo.jpg">
				</div>
				<nav>
					<a href="index.html">HOME</a><a href="nosotros.html">NOSOTROS</a><a href="servicios.html">SERVICIOS</a><a href="portafolios.html">PORTAFOLIOS</a><a href="clientes.html">CLIENTES</a>
				</nav>
				<div id="debajo">
					<div id="submenu">
						<a href="cobertura.html">Cobertura</a><a href="Trabaja_con_nosotros.html">Trabaja con Nosotros</a><a href="contactanos.html">Contáctanos</a>
					</div>

					<div id="submenu2"><img src="images/social.png">
					</div>

					<div id="pie">
						Marketing Alterno Perú
						<br>
						Todos los derechos reservados
					</div>
				</div>
			</div>

			<div id="centro">
				<div id="wrapper">
					<div id="columns">
						<div class="pin">
							<a title="3 Ositos" class="c1" href="images/clientes/3ositos.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/3ositos.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="365 Traslados y Servicios" class="c2" href="images/clientes/365.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/365.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Ajino Sillao" class="c3" href="images/clientes/ajino_sillao.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/ajino_sillao.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Ajinomen" class="c4" href="images/clientes/ajinomen.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/ajinomen.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Aji-no-mix" class="c5" href="images/clientes/ajinomix.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/ajinomix.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Ajinomoto" class="c6" href="images/clientes/ajinomoto.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/ajinomoto.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Ambrosoli" class="c7" href="images/clientes/ambrosoli.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/ambrosoli.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Andina Alimentos SA" class="c8" href="images/clientes/andina.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/andina.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Banana Boat" class="c9" href="images/clientes/banana_boat.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/banana_boat.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Baygon" class="c10" href="images/clientes/baygon.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/baygon.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Boulevard de Asia" class="c11" href="images/clientes/boulevard_asia.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/boulevard_asia.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Claro" class="c12" href="images/clientes/claro.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/claro.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Clorox" class="c13" href="images/clientes/clorox.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/clorox.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Costa" class="c14" href="images/clientes/costa.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/costa.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Deli Arroz" class="c15" href="images/clientes/deli_arroz.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/deli_arroz.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Doña Gusta" class="c16" href="images/clientes/dona_gusta.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/dona_gusta.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="El Molino" class="c17" href="images/clientes/el_molino.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/el_molino.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Energizer" class="c18" href="images/clientes/energizer.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/energizer.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Eveready" class="c19" href="images/clientes/eveready.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/eveready.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Glade" class="c20" href="images/clientes/glade.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/glade.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Grupo Norma" class="c21" href="images/clientes/grupo_norma.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/grupo_norma.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Hasbro" class="c22" href="images/clientes/hasbro.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/hasbro.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Hawaian Tropic" class="c23" href="images/clientes/hawaian_tropic.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/hawaian_tropic.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Ibargas" class="c24" href="images/clientes/ibargas.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/ibargas.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="IBM" class="c25" href="images/clientes/ibm.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/ibm.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="IncaTOM" class="c26" href="images/clientes/incatom.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/incatom.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Infanti" class="c27" href="images/clientes/infanti.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/infanti.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Intel" class="c28" href="images/clientes/intel.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/intel.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Lego" class="c29" href="images/clientes/lego.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/lego.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Marco Polo" class="c230" href="images/clientes/marco_polo.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/marco_polo.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Microsoft" class="c31" href="images/clientes/microsoft.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/microsoft.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Molitalia" class="c32" href="images/clientes/molitalia.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/molitalia.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Molitalia" class="c33" href="images/clientes/molitalia_gnral.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/molitalia_gnral.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Mr Musculo" class="c34" href="images/clientes/mr_musculo.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/mr_musculo.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Nativa" class="c35" href="images/clientes/nativa.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/nativa.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Nextel" class="c36" href="images/clientes/nextel.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/nextel.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Papelera Nacional" class="c37" href="images/clientes/panasa.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/panasa.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Pato" class="c38" href="images/clientes/pato.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/pato.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Perú Cola" class="c39" href="images/clientes/peru_cola.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/peru_cola.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Playtex" class="c40" href="images/clientes/playtex.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/playtex.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Raid" class="c2241" href="images/clientes/raid.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/raid.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Samsung" class="c42" href="images/clientes/samsung.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/samsung.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Samsung Mobile" class="c43" href="images/clientes/samsung_mobile.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/samsung_mobile.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Schick" class="c44" href="images/clientes/schick.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/schick.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Selva" class="c45" href="images/clientes/selva.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/selva.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Tair" class="c46" href="images/clientes/tair.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/tair.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Tetra Pack" class="c47" href="images/clientes/tetra-pak.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/tetra-pak.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Triumph" class="c48" href="images/clientes/triumph.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/triumph.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Westinghouse" class="c49" href="images/clientes/westinghouse.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/westinghouse.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Wong" class="c50" href="images/clientes/wong.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/wong.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Xerox" class="c51" href="images/clientes/xerox.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/xerox.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Yoleit" class="c52" href="images/clientes/yoleit.jpg"><img class="lazy" src="images/loading.gif" data-original="images/clientes/yoleit.jpg" alt=""/></a>
						</div>
					</div>
				</div>
				<div id="flechas">
					<div id="izq"></div>
					<div id="der"></div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/jquery.lazyload.min.js"></script>
		<script type="text/javascript" src="js/clientes.js"></script>
	</body>
</html>