<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">

		<title>Marketing Alterno</title>
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/estilo.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/cobertura.css" type="text/css" media="screen">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="cuerpo">
			<div id="izquierda">
				<div id="logo"><img src="images/logo.jpg">
				</div>
				<nav>
					<a href="index.html">HOME</a><a href="nosotros.html">NOSOTROS</a><a href="servicios.html">SERVICIOS</a><a href="portafolios.html">PORTAFOLIOS</a><a href="clientes.html">CLIENTES</a>
				</nav>
				<div id="debajo">
					<div id="submenu">
						<a href="cobertura.html">Cobertura</a><a href="Trabaja_con_nosotros.html">Trabaja con Nosotros</a><a href="contactanos.html">Contáctanos</a>
					</div>
					<div id="submenu2"><img src="images/social.png">
					</div>
					<div id="pie">
						Marketing Alterno Perú
						<br>
						Todos los derechos reservados
					</div>
				</div>
			</div>
			<div id="centro">
				<div id="der">
					<div class="mapa">
						<img src="images/cobertura/02.jpg" />
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/cobertura.js"></script>
	</body>
</html>