<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">

		<title>Marketing Alterno</title>
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/estilo.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/contactanos.css" type="text/css" media="screen">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
	</head>

	<body>
		<div id="cuerpo">
			<div id="izquierda">
				<div id="logo"><img src="images/logo.jpg">
				</div>

				<nav>
					<a href="index.html">HOME</a><a href="nosotros.html">NOSOTROS</a><a href="servicios.html">SERVICIOS</a><a href="portafolios.html">PORTAFOLIOS</a><a href="clientes.html">CLIENTES</a>
				</nav>

				<div id="debajo">
					<div id="submenu">
						<a href="cobertura.html">Cobertura</a><a href="Trabaja_con_nosotros.html">Trabaja con Nosotros</a><a href="contactanos.html">Contáctanos</a>
					</div>

					<div id="submenu2"><img src="images/social.png">
					</div>

					<div id="pie">
						Marketing Alterno Perú
						<br>
						Todos los derechos reservados
					</div>
				</div>
			</div>

			<div id="centro">
				<div id="izq">
					<div id="izq_direccion">
						<p>
							Calle Libertad N° 757 Magdalena del Mar
						</p>
						<p>
							Lima - Altura 36 de la Av. Brasil
						</p>
						<h2>(01) 2087100</h2>
					</div>
					<div id="formulario">
						<h1>CONTÁC
						<br>
						TANOS</h1>
						<form action="form.php?a=contactanos" method="post">
							<input type="text" placeholder="Nombre" name="nombre" />
							<input type="email" placeholder="Email" name="email" />
							<input type="tel" placeholder="Teléfono" name="telefono" />
							<textarea placeholder="Consulta" name="consulta"></textarea>
							<button type="submit" value="" name="enviar"></button>
						</form>
					</div>
				</div>
				<div id="der">

				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/contactanos.js"></script>
	</body>
</html>
