<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>Marketing Alterno</title>
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="styles/fonts/font-awesome-4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="styles/css/estilo.css" type="text/css" media="screen">
		<link rel="stylesheet" href="styles/css/home.css" type="text/css" media="screen">
		<link rel="stylesheet" href="styles/css/slicknav.css" type="text/css" media="screen">

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	</head>
	<body>
		<div id="cuerpo">
				<div id="logo"><img src="images/logo.png"></div>
			<div id="izquierda">
				<div id="izquierda-bajo">
					<div class="control-menu btn btn-default" data-toggle="tooltip" data-placement="top" title data-original-title="Ocultar menu">
						<i class="glyphicon glyphicon-chevron-left"></i>
					</div>
					<nav class="menu-p">
						<a href="#" id="centro">HOME</a>
						<a href="#" id="nosotros">NOSOTROS</a>
						<a href="#" id="servicios">SERVICIOS</a>
						<a href="#" id="contactanos">CONTACTANOS</a>
						<a href="#" id="clientes">CLIENTES</a>
					</nav>
					<!-- Menu oculto para ser usado por los plugins de smint.js -->
					<nav class="_menu-p oculto">
						<a href="#" id="centro">HOME</a>
						<a href="#" id="nosotros">NOSOTROS</a>
						<a href="#" id="servicios">SERVICIOS</a>
						<a href="#" id="contactanos">CONTACTANOS</a>
						<a href="#" id="clientes">CLIENTES</a>
					</nav>
					<!-- end menu oculto -->
					<div id="debajo">
						<div id="submenu">
							<a href="cobertura.html">Cobertura</a>
							<a href="Trabaja_con_nosotros.html">Trabaja con Nosotros</a>
							<a href="contactanos.html">Contáctanos</a>
						</div>
						<div id="submenu2">
							<a target="_blank" href="https://www.youtube.com/user/MarketingAlterno"><i class="fa fa-youtube fa-2x"></i></a>
							<a target="_blank" href="https://es-la.facebook.com/marketingalterno"><i class="fa fa-facebook fa-2x"></i></a>
							<a target="_blank" href=""><i class="fa fa-twitter fa-2x"></i></a>
						</div>
						<div id="pie">
							Marketing Alterno Perú
							<br/>
							Todos los derechos reservados
						</div>
					</div>
				</div>
			</div>
			<div class="centro">
			<!-- Aqui va el slider background de fondo -->
			</div>
			<div id="pattern"></div>
			<article id="texto-slider">
			<!-- Aqui esta el texto que acompasa y corresponde a cada slider de fondo -->
				<div>
				<b>CREA.TI-VI.DAD</b>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, sit.</span>
				</div>
				<div>
					<b>IN.NO.VA.CION</b>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, illum, quod cupiditate perferendis beatae autem.</span>
				</div>
				<div>
					<b>BTL & CROWDSOURSING</b>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, veniam eligendi at dolorem aliquid porro!</span>
				</div>
				<div>
					<b>SU EXI.TO ES NUES.TRO EXITO</b>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate ea dolore et harum porro autem?</span>
				</div>
				<div>
					<b>TITULO</b>
					<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi vel culpa non accusamus facilis at.</span>
				</div>
			</article>
			<div class="nosotros">
			</div>
			<div class="servicios">
			</div>
			<div class="clientes">
			</div>
			<div class="contactanos">
				<iframe width="900" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=MARKETING+ALTERNO+PER%C3%9A+S.A.C,+Lima,+Per%C3%BA&amp;aq=0&amp;oq=MARKETI&amp;sll=37.0625,-95.677068&amp;sspn=41.95363,47.724609&amp;t=m&amp;ie=UTF8&amp;hq=marketing+alterno+per%C3%BA+sac&amp;hnear=Lima,+Per%C3%BA&amp;ll=-12.092472,-77.069499&amp;spn=0.003672,0.009656&amp;z=17&amp;output=embed">
				</iframe>
				<div class="form">
					<div class="panel panel-default">
						<din class="panel-heading">
							Danos tus datos
						</din>
						<div class="panel-body">
							<div class="row">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-user"></i>
										</span>
										<input type="text" class="form-control" placeholder="Tu nombre">
									</div>
							</div>
							<div class="row">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-earphone"></i>
									</span>
									<input type="number" class="form-control" placeholder="Tu telefono">
								</div>
							</div>
							<div class="row">
								<div class="input-group">
									<span class="input-group-addon">
										@
									</span>
									<input type="email" class="form-control" placeholder="Tu email">
								</div>
							</div>
							<div class="row">
								<div class="input-group">
									<span class="input-group-addon">
										<i class="glyphicon glyphicon-envelope"></i>
									</span>
									<textarea name="" id="" cols="30" rows="10" class="form-control" row="3"></textarea>
								</div>
							</div>
							<div class="row">
								<button class="btn btn-default">ENVIAR</button>
							</div>

						</div>
					</div>
				</div>

			</div>

			<script>
				$(function(){
	    $('#texto-slider div:gt(0)').hide();
	    setInterval(function(){
	      $('#texto-slider div:first-child').fadeOut(0)
	         .next('div').fadeIn(750)
	         .end().appendTo('#texto-slider');}, 5000);
				});	
			</script>
		</div>
		</div>
  <script src="js/jquery.backstretch.min.js"></script>
		<script type="text/javascript" src="js/home.js"></script>
		<script src="js/jquery.smint.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="js/jquery.slicknav.js"></script>
		<script>
		var dataSO = function(){
			var userAgent=navigator.userAgent;//devuelve una cadena con el nombre del navegador ,version, sistema operativo (nombre generico) del usuario,motor del navegador.
			var platform = navigator.platform;
			var getNameBrowser = function(string){
				var resq=/(msie)|(firefox)|(chrome)|(opera)|(safari)|(android)/i.exec(string.toLowerCase());//resq sera una matriz que contendra las coincidencias encontradas en la cadena segun el patron
				resq = ((resq[0])?resq[0].toLowerCase():null);
				return resq;
			}
			var getNameSO = function(string){
				var resq=/(Win)|(Linux)|(Mac)/i.exec(string.toLowerCase());//resq sera una matriz que contendra las coincidencias encontradas en la cadena segun el patron
				resq = ((resq[0])?resq[0].toLowerCase():null);
				return resq;
			}
			var getNameDevice = function(string){
				var resq = /(Linux)|(Win32)|(iPad)|(iPhone)|(iPod)/i.exec(string.toLowerCase());
				resq = ((resq[0])?resq[0].toLowerCase():null);
				return resq;
			}
			return {
				browser:getNameBrowser(userAgent),//[0]
				so:getNameSO(userAgent),//[1]
				device:getNameDevice(platform)//[2]
			};
		}
		var dataStatic = {
																				browser:dataSO().browser,
																				so:dataSO().so,
																				device:dataSO().device
																			};
		console.log(dataStatic);
		dataStatic.condicionBrowser = (dataStatic.browser=="chrome"||dataStatic.browser=="firefox"||dataStatic.browser=="safari");
		if(dataStatic.condicionBrowser){
			$('.control-menu').tooltip();
			console.log("tooltip activado")
		}
			
		var l = console;
		var izquierda_bajo = $('#izquierda-bajo');
		var menu = $('.menu-p');
		var menu_oculto = $('._menu-p');

				menu_oculto.smint({
					'scrollSpeed':1000
				});
			menu.slicknav();
			$('.slicknav_menutxt').text("");
				var menu_responsive = $('.slicknav_nav');
				l.log(menu_responsive)
				menu_responsive.addClass('smint');
				menu_responsive.css({
				"position":"static"
			});

			$('.slicknav_btn').on("click",function(e){
				l.log("click");
				/*
					menu_responsive.css({
						"position":"absolute",
						"top":"95%"
					});	
				*/
			});
				
			/*
			*/
			$('.slicknav_nav > a').on('click',function(event) {
				l.log(this);
			});
			$('.menu-p > a').on('click',function(event) {
				/*
					this: es el elemento <a> dentro del menu-p
					this.id: es el id del elemento. 
				*/
				l.log(this.id);
				$("._menu-p > #"+this.id).trigger('click');
			});
			var list_id = ['centro','nosotros','servicios','contactanos','clientes']
			l.log(menu_responsive.children());
			menu_responsive.children().each(function(i,elem){
				l.log(elem);
				elem.setAttribute('id', list_id[i]);
			})
			menu_responsive.smint({
				'scrollSpeed':500
			});
				var ancho_pantalla = $(window).width();
				var alto_pantalla = $(window).height();
				var pattern = $("#pattern");
				var fondoSlide = $('.backstretch');
				pattern.width(ancho_pantalla);
				pattern.height(fondoSlide.height());
			if(ancho_pantalla<480){
					$('.slicknav_menu').prepend($('#logo'));
			}
			$(window).on('resize',function(){
				l.log("resize")
				var _ancho_pantalla = $(window).width();
				var _alto_pantalla = $(window).height();
				l.log("ancho :"+ _ancho_pantalla);
				pattern.height(_alto_pantalla);
				if(_ancho_pantalla<=480){
					$('.slicknav_menu').prepend($('#logo'));
				}
				else if(_ancho_pantalla>480){
					$('#cuerpo').prepend($('#logo'));
				}
			})
			izquierda_bajo.estado = true;//open
			var iconoBtnControlMenu = $('.control-menu>.glyphicon');
			var btnControlMenu = $('.control-menu');

			btnControlMenu.on('click',function(e){

				var b = $('.control-menu')[0];//cojo al elemento en su forma nativa como javascript
				var margen_izquierdo = izquierda_bajo.width() - 80;
				if(izquierda_bajo.estado){
					izquierda_bajo.animate({
						"left": "-="+margen_izquierdo+"px"},
						900, function() {
						izquierda_bajo.estado = false;
						iconoBtnControlMenu.removeClass('glyphicon-chevron-left');
						iconoBtnControlMenu.addClass('glyphicon-chevron-right');
						izquierda_bajo.css({
							"visibility":"hidden"
						});
						btnControlMenu.css({
							"visibility":"visible"
						});
						if(dataStatic.condicionBrowser){
							b.dataset.originalTitle = "Mostrar menu";
						}
							
					});//izquierda_bajo.css
				}else {
					izquierda_bajo.animate({
							"left": "+="+margen_izquierdo+"px"},
							700, function() {
							izquierda_bajo.estado = true;
							iconoBtnControlMenu.removeClass('glyphicon-chevron-right');
							iconoBtnControlMenu.addClass('glyphicon-chevron-left');
							izquierda_bajo.css({
								"visibility":"visible"
							});
							if(dataStatic.condicionBrowser){
								b.dataset.originalTitle = "Ocultar menu";
							}
						})//function
				}//else	
			});//btnControlMenu.on("click",...)
/*
*/
	

		</script>
	</body>
</html>
