<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
		<title>Marketing Alterno</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Nixie+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Bubbler+One' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Imprima' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="styles/fonts/font-awesome-4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="styles/css/estilo.css" type="text/css" media="screen">
		<link rel="stylesheet" href="styles/css/slicknav.css" type="text/css" media="screen">

		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	</head>
	<body>
		<div id="cuerpo">
				<div id="logo">
					<img src="images/logo.png">
				</div>
			<div id="izquierda">
				<div id="izquierda-bajo">
					<div class="control-menu btn btn-default" data-toggle="tooltip" data-placement="top" title data-original-title="Ocultar menu">
						<i class="glyphicon glyphicon-chevron-left"></i>
					</div>
					<nav class="menu-p">
						<a href="#" id="centro">HOME</a>
						<a href="#" id="nosotros">NOSOTROS</a>
						<a href="#" id="servicios">SERVICIOS</a>
						<a href="#" id="clientes">CLIENTES</a>
						<a href="#" id="contactanos">CONTACTANOS</a>
					</nav>
					<!-- Menu oculto para ser usado por los plugins de smint.js -->
					<nav class="_menu-p oculto">
						<a href="#" id="centro">HOME</a>
						<a href="#" id="nosotros">NOSOTROS</a>
						<a href="#" id="servicios">SERVICIOS</a>
						<a href="#" id="clientes">CLIENTES</a>
						<a href="#" id="contactanos">CONTACTANOS</a>
						<span class="telefono"><i class="fa fa-phone"></i>:(051)2087-100</span>
					</nav>
					<!-- end menu oculto -->
					<div id="debajo">
						<div id="submenu">
							<a href="#">Cobertura</a>
							<a href="#">Trabaja con Nosotros</a>
						</div>
						<div id="submenu2">
							<div class="social">
								<a target="_blank" href="https://www.youtube.com/user/MarketingAlterno"><i class="fa fa-youtube fa-2x"></i></a>
								<a target="_blank" href="https://es-la.facebook.com/marketingalterno"><i class="fa fa-facebook fa-2x"></i></a>
								<a target="_blank" href=""><i class="fa fa-twitter fa-2x"></i></a>
							</div>
							<span class="telefono"><i class="fa fa-phone"></i>:(051)2087-100</span>
						</div>
						<div id="pie">
							Marketing Alterno Perú
							<br/>
							Todos los derechos reservados
						</div>
					</div>
				</div>
			</div>
			<div class="centro">
			<!-- Aqui va el slider background de fondo -->
			</div>
			<div id="pattern"></div>
			<article id="texto-slider">
			<!-- Aqui esta el texto que acompasa y corresponde a cada slider de fondo -->
				<div>
				<b>OUTSOURCING</b>
					<span>Manejamos su recurso humano, dandole un mayor valor al resultado.</span>
				</div>
				<div>
					<b>PROMOTORIA</b>
					<span>Impulsamos sus ventas por uno o varioas canales simultaneamente.</span>
				</div>
				<div>
					<b>CREATIVIDAD</b>
					<span>Es nuestra escencia de trabajo, decir las cosas con creatividad tiene mejor resultado. </span>
				</div>
				<div>
					<b>INNOVACION</b>
					<span>Desarrollamos nuevas formas de comunicar en espacios y momentos distintos.</span>
				</div>
				<div>
					<b>SINERGIAS</b>
					<span>Tenemos clientes en todos los sectores, ellos son nuestra mejor garantia de trabajo.</span>
				</div>
			</article>
			<div class="nosotros">
				<div class="row">
					<div class="fila-1">
						<div class="col-md-5 img">
							<img class="img-thumbnail img-responsive" src="/images/mkt.jpg" alt="">
						</div>
						<div class="col-md-7 lateral capital">
								<div class="somos">Marketing Alterno Perú SAC, se formó en febrero de 2006,  cuando decidimos ser parte del éxito de las marcas. Nos gusta opinar y analizar el marketing de la marcas y de alguna manera participar de ellas.</div>
									</hr>
								<div class="sub sub-left">
									Nuestro objetivo es ser socios estratégicos de nuestros clientes, que ellos nos sientan como un equipo de gente que piensa y trabaja por su marca.
								</div>
								<div class="sub sub-right">
									Nuestra mision es potenciar la marca de nuestros clientes y darle un mayor valor.
								</div>
						</div><!-- lateral -->
					</div><!-- fila 1 -->
				</div><!-- row -->
				<hr>
			</div>
			<div class="servicios">
				<div class="row">
				 <div class="col">
			    <div class="thumb">
			    	<i class="fa fa-group"></i>
			     <div class="cap">
	        <h3>Outsoursing de personal</h3>
	        <p>Manejamos el recurso humano de nuestros clientes, en procesos comerciales que son administrados y supervisado por nosotros, brindándole un mejor valor al resultado.</p>
			     </div>
			    </div>
				 </div>
				 <div class="col">
			    <div class="thumb">
			    	<i class="fa fa-gears"></i>
			     <div class="cap">
	        <h3>Promotoria IntegraL</h3>
	        <p>El manejo de un determinado equipo de trabajo que busca impulsar las ventas en un determinado canal o en varios de manera simultanea.El recurso humano esta liderado por un ejecutivo de la agencia que realiza el seguimiento para el cumplimiento de objetivos</p>
			     </div>
			    </div>
				 </div>
				 <div class="col">
			    <div class="thumb">
			    	<i class="fa fa-shopping-cart"></i>
			     <div class="cap">
	        <h3>Trade Marketing</h3>
	        <p>Manejo Promocional al canal, puede ser mayoristas, distribuidores, resellers o PDV de ventas, mayorista, retail.Desarrollo de promociones para acelerar la rotación de los inventarios. Incentivos de Ventas. Spiff de Ventas, aceleradores. Manejo del rebate.</p>
			     </div>
			    </div>
				 </div>
				</div>
				<div class="row">
				 <div class="col">
			    <div class="thumb">
			    	<i class="fa fa-search"></i>
			     <div class="cap">
	        <h3>Retail de consumo</h3>
	        <p>Analizamos el comportamiento dentro de la góndola para proponer soluciones que ayuden a incrementar las ventas.Desarrollamos: Category Managment. Estudio del Consumidor frente a la góndola. Flujos y trafico en la Góndola. Oportunidades de ventas en nuevos espacios.</p>
			     </div>
			    </div>
				 </div>
				 <div class="col">
			    <div class="thumb">
			    	<i class="fa fa-flask"></i>
			     <div class="cap">
	        <h3>Campañas BTL</h3>
	        <p>Desarrollamos nuevas formas de comunicar en espacios y momentos distintos.La comunicación BTL genera mayor recordación con la marca y hacemos que la idea se involucre con el espíritu de la marca..</p>
			     </div>
			    </div>
				 </div>
				 <div class="col">
			    <div class="thumb">
			    	<i class="fa fa-truck"></i>
			     <div class="cap">
	        <h3>Soporte Logistico</h3>
	        <p>Para poder soportar el desarrollo de la campañas contamos con espacios de almacén y unidades móviles propias para atender las necesidad de los clientes.</p>
			     </div>
			    </div>
				 </div>

				</div>
				<div class="row">
				 <div class="col">
			    <div class="thumb">
			    	<i class="fa fa-pencil-square-o fa-5x"></i>
			     <div class="cap">
	        <h3>Soporte Grafico</h3>
	        <p>Decirlas las cosas con creatividad tiene mejor resultado.Contamos con un equipo de profesionales aficionados al diseño, teniendo en claro el desarrollo de las piezas para cada tipo de canal o si es una elemento de promoción.</p>
			     </div>
			    </div>
				 </div>
				</div>
			</div>
			<div class="clientes">
				<div class="img">
					<img class="img-thumbnail" src="/images/logos_gris2.png" alt="">
				</div>
			</div>
			<div class="contactanos">
				<div class="wrap">
					<div class="mapa">
						<iframe width="900" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=MARKETING+ALTERNO+PER%C3%9A+S.A.C,+Lima,+Per%C3%BA&amp;aq=0&amp;oq=MARKETI&amp;sll=37.0625,-95.677068&amp;sspn=41.95363,47.724609&amp;t=m&amp;ie=UTF8&amp;hq=marketing+alterno+per%C3%BA+sac&amp;hnear=Lima,+Per%C3%BA&amp;ll=-12.092472,-77.069499&amp;spn=0.003672,0.009656&amp;z=17&amp;output=embed"></iframe>
					</div>
					<div class="form">
						<div class="panel panel-default">
							<din class="panel-heading">
								Danos tus datos
							</din>
							<div class="panel-body">
								<div class="row">
										<div class="input-group">
											<span class="input-group-addon">
												<i class="glyphicon glyphicon-user"></i>
											</span>
											<input type="text" class="form-control" placeholder="Tu nombre">
										</div>
								</div>
								<div class="row">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-earphone"></i>
										</span>
										<input type="number" class="form-control" placeholder="Tu telefono">
									</div>
								</div>
								<div class="row">
									<div class="input-group">
										<span class="input-group-addon">
											@
										</span>
										<input type="email" class="form-control" placeholder="Tu email">
									</div>
								</div>
								<div class="row">
									<div class="input-group">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-envelope"></i>
										</span>
										<textarea name="" id="" cols="30" rows="10" class="form-control" row="3"></textarea>
									</div>
								</div>
								<div class="row">
									<button class="btn btn-default">ENVIAR</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
  <script src="js/jquery.backstretch.min.js"></script>
		<script src="js/jquery.smint.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="js/jquery.slicknav.js"></script>
		<script type="text/javascript" src="js/home.js"></script>
	</body>
</html>
