<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">

		<title>Marketing Alterno</title>
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/estilo.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/nosotros.css" type="text/css" media="screen">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	</head>

	<body>
		<div id="cuerpo">
			<div id="izquierda">
				<div id="logo"><img src="images/logo.jpg">
				</div>

				<nav>
					<a href="index.html">HOME</a><a href="nosotros.html">NOSOTROS</a><a href="servicios.html">SERVICIOS</a><a href="portafolios.html">PORTAFOLIOS</a><a href="clientes.html">CLIENTES</a>
				</nav>

				<div id="debajo">
					<div id="submenu">
						<a href="cobertura.html">Cobertura</a><a href="Trabaja_con_nosotros.html">Trabaja con Nosotros</a><a href="contactanos.html">Contáctanos</a>
					</div>

					<div id="submenu2"><img src="images/social.png">
					</div>

					<div id="pie">
						Marketing Alterno Perú
						<br>
						Todos los derechos reservados
					</div>
				</div>
			</div>

			<div id="centro">
				<div id="izq">
					<div id="texto">
						<h2>NOSOTROS</h2>

						<p>
							Somos una empresa de marketing y publicidad promocional, integrada por un equipo joven de trabajo, con una perspectiva innovadora y creativa, siempre comprometidos con nuestros clientes y colaboradores.
						</p>

						<p>
							Realizamos branding, producción de eventos, activaciones en puntos de venta, servicio de promotoría e impulso, degustación, creatividad, diseño gráfico, merchandising, soporte logístico, etc.
						</p>

						<p>
							Marketing Alterno Perú SAC se formó el 02 de febrero de 2006, desde entonces, muchos clientes han confiado en nuestros servicios para la conducción de sus Promociones y Cumplimiento de Objetivos. Participamos a nivel particular y profesional en la satisfacción completa de nuestros clientes, ofreciéndoles todas las soluciones disponibles a sus posibles demandas.
						</p>
					</div>
				</div>
				<div id="der">

				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/nosotros.js"></script>
	</body>
</html>
