<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">

		<title>Marketing Alterno - Portafolio</title>
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/jquery.fancybox.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/estilo.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/portafolio.css" type="text/css" media="screen">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery.fancybox.js"></script>
	</head>

	<body>
		<div id="cuerpo">
			<div id="izquierda">
				<div id="logo"><img src="images/logo.jpg">
				</div>

				<nav>
					<a href="index.html">HOME</a><a href="nosotros.html">NOSOTROS</a><a href="servicios.html">SERVICIOS</a><a href="portafolios.html">PORTAFOLIOS</a><a href="clientes.html">CLIENTES</a>
				</nav>

				<div id="debajo">
					<div id="submenu">
						<a href="cobertura.html">Cobertura</a><a href="Trabaja_con_nosotros.html">Trabaja con Nosotros</a><a href="contactanos.html">Contáctanos</a>
					</div>

					<div id="submenu2"><img src="images/social.png">
					</div>

					<div id="pie">
						Marketing Alterno Perú
						<br>
						Todos los derechos reservados
					</div>
				</div>
			</div>

			<div id="centro">
				<div id="wrapper">
					<div id="columns">
						<div class="pin">
							<a title="Boulevard Asia" class="diseno1" href="images/portafolio/diseno/diseno1.jpg"><img src="images/portafolio/diseno/diseno1a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Campaña Salud GLADE" class="diseno2" href="images/portafolio/diseno/diseno2.jpg"><img src="images/portafolio/diseno/diseno2a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Catálogo de Productos Lenovo" class="diseno3" href="images/portafolio/diseno/diseno3.jpg"><img src="images/portafolio/diseno/diseno3a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Catálogo Doña Gusta" class="diseno4" href="images/portafolio/diseno/diseno4.jpg"><img src="images/portafolio/diseno/diseno4a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Energizer - Flyers y Hojas de Venta" class="diseno5" href="images/portafolio/diseno/diseno5.jpg"><img src="images/portafolio/diseno/diseno5a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Material Ajinomoto" class="diseno6" href="images/portafolio/diseno/diseno6.jpg"><img src="images/portafolio/diseno/diseno6a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="material LEGO, campaña en wong" class="diseno7" href="images/portafolio/diseno/diseno7.jpg"><img src="images/portafolio/diseno/diseno7a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Material Movistar, Samsung, varios" class="diseno8" href="images/portafolio/diseno/diseno8.jpg"><img src="images/portafolio/diseno/diseno8a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="MONTBLANC - lanzamiento nueva linea de chocolates gourmet" class="diseno9" href="images/portafolio/diseno/diseno9.jpg"><img src="images/portafolio/diseno/diseno9a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Sr. Cara de Papa Aniversario" class="eventos1" href="images/portafolio/eventos/papa1.jpg"><img src="images/portafolio/eventos/papa1a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Boulevard Sur Plaza" class="eventos2" href="images/portafolio/eventos/marinera1.jpg"><img src="images/portafolio/eventos/marinera1a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Hasbro-Nerf" class="eventos3" href="images/portafolio/eventos/nerf1.jpg"><img src="images/portafolio/eventos/nerf1a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Monopolio Millonario" class="eventos4" href="images/portafolio/eventos/monopolio1.jpg"><img src="images/portafolio/eventos/monopolio1a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Samsung Mobile" class="eventos5" href="images/portafolio/eventos/samsung1.jpg"><img src="images/portafolio/eventos/samsung1a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Módulo Tair" class="modulos1" href="images/portafolio/modulos/modulo1b.jpg"><img src="images/portafolio/modulos/modulo1a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Exhibidores" class="modulos2" href="images/portafolio/modulos/modulo3.jpg"><img src="images/portafolio/modulos/modulo3a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Exhibidor Mr Musculo, Raid, Glade" class="modulos3" href="images/portafolio/modulos/modulo5.jpg"><img src="images/portafolio/modulos/modulo5a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Exhibidor Lego" class="modulos4" href="images/portafolio/modulos/modulo7.jpg"><img src="images/portafolio/modulos/modulo7a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Exhibidor Micro" class="modulos5" href="images/portafolio/modulos/modulo8.jpg"><img src="images/portafolio/modulos/modulo8a.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Plano de Evento Monopolio Millonario" class="modulos6" href="images/portafolio/modulos/modulo9.jpg"><img src="images/portafolio/modulos/modulo9a	.jpg" alt=""/></a>
						</div>
						<div class="pin">
							<a title="Activación SmartTV" class="modulos7" href="images/portafolio/modulos/modulo12.jpg"><img src="images/portafolio/modulos/modulo12a.jpg" alt=""/></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="hidden">
			<a title="Sr. Cara de Papa Aniversario" class="eventos1" href="images/portafolio/eventos/papa2.jpg"><img src="images/portafolio/eventos/papa2.jpg" alt=""/></a>
			<a title="Sr. Cara de Papa Aniversario" class="eventos1" href="images/portafolio/eventos/papa3.jpg"><img src="images/portafolio/eventos/papa3.jpg" alt=""/></a>
			<a title="Boulevard Sur Plaza" class="eventos2" href="images/portafolio/eventos/marinera2.jpg"><img src="images/portafolio/eventos/marinera2.jpg" alt=""/></a>
			<a title="Boulevard Sur Plaza" class="eventos2" href="images/portafolio/eventos/marinera3.jpg"><img src="images/portafolio/eventos/marinera3.jpg" alt=""/></a>
			<a title="Boulevard Sur Plaza" class="eventos2" href="images/portafolio/eventos/marinera4.jpg"><img src="images/portafolio/eventos/marinera4.jpg" alt=""/></a>
			<a title="Hasbro-Nerf" class="eventos3" href="images/portafolio/eventos/nerf2.jpg"><img src="images/portafolio/eventos/nerf2.jpg" alt=""/></a>
			<a title="Hasbro-Nerf" class="eventos3" href="images/portafolio/eventos/nerf3.jpg"><img src="images/portafolio/eventos/nerf3.jpg" alt=""/></a>
			<a title="Monopolio Millonario" class="eventos4" href="images/portafolio/eventos/monopolio2.jpg"><img src="images/portafolio/eventos/monopolio2.jpg" alt=""/></a>
			<a title="Samsung Mobile" class="eventos5" href="images/portafolio/eventos/samsung2.jpg"><img src="images/portafolio/eventos/samsung2.jpg" alt=""/></a>
			<a title="Samsung Mobile" class="eventos5" href="images/portafolio/eventos/samsung3.jpg"><img src="images/portafolio/eventos/samsung3.jpg" alt=""/></a>

			<a title="Módulo Tair" class="modulos1" href="images/portafolio/modulos/modulo1c.jpg"><img src="images/portafolio/modulos/modulo1b.jpg" alt=""/></a>
			<a title="Exhibidores" class="modulos2" href="images/portafolio/modulos/modulo4.jpg"><img src="images/portafolio/modulos/modulo4.jpg" alt=""/></a>
			<a title="Exhibidor Mr Musculo" class="modulos3" href="images/portafolio/modulos/modulo6.jpg"><img src="images/portafolio/modulos/modulo6.jpg" alt=""/></a>

			<a title="Plano de Evento Monopolio Millonario" class="modulos" href="images/portafolio/modulos/modulo10.jpg"><img src="images/portafolio/modulos/modulo10.jpg" alt=""/></a>
			<a title="Plano de Evento Monopolio Millonario" class="modulos" href="images/portafolio/modulos/modulo11.jpg"><img src="images/portafolio/modulos/modulo11.jpg" alt=""/></a>
			<a title="Activación SmartTV" class="modulos" href="images/portafolio/modulos/modulo13.jpg"><img src="images/portafolio/modulos/modulo13.jpg" alt=""/></a>
			<a title="Activación SmartTV" class="modulos" href="images/portafolio/modulos/modulo14.jpg"><img src="images/portafolio/modulos/modulo14.jpg" alt=""/></a>
		</div>
		<script type="text/javascript" src="js/portafolio.js"></script>
	</body>
</html>
