<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Marketing Alterno</title>
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/estilo.css" type="text/css" media="screen">
		<link rel="stylesheet" href="css/servicios.css" type="text/css" media="screen">
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	</head>
	<body>
		<div id="cuerpo">
			<div id="izquierda">
				<div id="logo"><img src="images/logo.jpg">
				</div>

				<nav>
					<a href="index.html">HOME</a><a href="nosotros.html">NOSOTROS</a><a href="servicios.html">SERVICIOS</a><a href="portafolios.html">PORTAFOLIOS</a><a href="clientes.html">CLIENTES</a>
				</nav>

				<div id="debajo">
					<div id="submenu">
						<a href="cobertura.html">Cobertura</a><a href="Trabaja_con_nosotros.html">Trabaja con Nosotros</a><a href="contactanos.html">Contáctanos</a>
					</div>

					<div id="submenu2"><img src="images/social.png">
					</div>

					<div id="pie">
						Marketing Alterno Perú
						<br>
						Todos los derechos reservados
					</div>
				</div>
			</div>

			<div id="centro">
				<div id="izq">
					<div id="texto">
						<h1>Servicios</h1>
						<div class="cajas seleccionado" rel="1">
							<dl>
								<dt><img src="images/servicios/fondos/1.jpg"/>
								</dt>
								<dd>
									<h2>Outsourcing
									<br>
									de Personal</h2>
									<p>
										Click para ver más detalle
									</p>
								</dd>
							</dl>
						</div>
						<div class="cajas" rel="2">
							<dl>
								<dt><img src="images/servicios/fondos/2.jpg"/>
								</dt>
								<dd>
									<h2>Servicio de
									<br>
									Promotoría Integral</h2>
									<p>
										Click para ver más detalle
									</p>
								</dd>
							</dl>
						</div>
						<div class="cajas" rel="3">
							<dl>
								<dt><img src="images/servicios/fondos/3.jpg"/>
								</dt>
								<dd>
									<h2>Trade
									<br>
									Marketing</h2>
									<p>
										Click para ver más detalle
									</p>
								</dd>
							</dl>
						</div>
						<div class="cajas" rel="4">
							<dl>
								<dt><img src="images/servicios/fondos/4.jpg"/>
								</dt>
								<dd>
									<h2>Retail de
									<br>
									Consumo</h2>
									<p>
										Click para ver más detalle
									</p>
								</dd>
							</dl>
						</div>
						<div class="cajas" rel="5">
							<dl>
								<dt><img src="images/servicios/fondos/5.jpg"/>
								</dt>
								<dd>
									<h2>Creación de
									<br>
									Campañas BTL</h2>
									<p>
										Click para ver más detalle
									</p>
								</dd>
							</dl>
						</div>
						<div class="cajas" rel="6">
							<dl>
								<dt><img src="images/servicios/fondos/6.jpg"/>
								</dt>
								<dd>
									<h2>Diseño Gráfico y
									<br>
									Creatividad</h2>
									<p>
										Click para ver más detalle
									</p>
								</dd>
							</dl>
						</div>
						<div class="cajas" rel="7">
							<dl>
								<dt><img src="images/servicios/fondos/7.jpg"/>
								</dt>
								<dd>
									<h2>Soporte
									<br>
									Logístico</h2>
									<p>
										Click para ver más detalle
									</p>
								</dd>
							</dl>
						</div>
					</div>
				</div>
				<div id="der">
					<div id="descripciones">
						<div class="descripcion" style="display: block" rel="1">
							<h2>Outsourcing de Personal</h2>
							<div>
								<p>
									Brindamos a su empresa el personal necesario para la realización del proceso comercial, a través de un contrato de prestación de servicios, según la meta a cumplir.
								</p>
							</div>
						</div>
						<div class="descripcion" rel="2">
							<h2>Servicio de Promotoría Integral</h2>
							<div>
								<p>
									Satisfacemos las necesidades de nuestros clientes de manera íntegra, con un servicio profesional en diversas plataformas, como retail, distribuidoras y puntos de venta, ofreciendo la seguridad y tranquilidad de que todo se realice sin ningún contratiempo.
								</p>
								<p>
									El manejo de un determinado equipo de trabajo que busca impulsar las ventas en un determinado canal o en varios de manera simultanea.
								</p>
								<p>
									El recurso humano esta liderado por un ejecutivo de la agencia que realiza el seguimiento para el cumplimiento de objetivos: Ventas, Branding, Recordación,  Exhibición, Convocatoria,  Selección,  Capacitación,  Supervisión.
								</p>
							</div>
						</div>
						<div class="descripcion" rel="3">
							<h2>Trade Marketing Desarrollo del Canal</h2>
							<div>
								<p>
									Manejamos el canal de ventas apropiado para satisfacer sus objetivos, consiguiendo el canal de distribución que se adecúa de manera efectiva a su necesidad.
								</p>
								<p>
									puede ser mayoristas, distribuidores, resellers o PDV de ventas, retail.
									Desarrollo de promociones para acelerar la rotación de los inventarios.
									<ul>
										<li>
											Incentivos de Ventas.
										</li>
										<li>
											Spiff de Ventas, aceleradores.
										</li>
										<li>
											Manejo del rebate.
										</li>
										<li>
											Promociones o actividades al Canal.
										</li>
										<li>
											Capacitación de Producto y charlas motivacionales.
										</li>
									</ul>
								</p>
							</div>
						</div>
						<div class="descripcion" rel="4">
							<h2>Retail de Consumo</h2>
							<div>
								<p>
									Entendemos sus necesidades y buscamos mejorar el contacto de sus productos con el cliente final, con infraestructuras optimizadas para la presentación de su marca en el área de retail.
								</p>
							</div>
						</div>
						<div class="descripcion" rel="5">
							<h2>Creación de Campañas BTL y Eventos</h2>
							<div>
								<p>
									Somos especialistas en crear e implementar campañas BTL, organización de eventos, y lanzamientos de productos; trabajamos de profesional, donde nuestra única preocupación es darle lo mejor a tu marca o producto, haciéndola formar parte de la vida de tu target.
								</p>
								<p>
									Desarrollamos nuevas formas de comunicar en espacios y momentos distintos. La comunicación BTL genera mayor recordación con la marca y hacemos que la idea se involucre con el espíritu de esta.
								</p>
								<p>
									Sabemos que idea es viable y hasta que momento se puede implementar, ya que nosotros hacemos el trabajo de campo y la realización del BTL.
								</p>
							</div>
						</div>
						<div class="descripcion" rel="6">
							<h2>Creatividad y Diseño</h2>
							<div>
								<p>
									Encontramos la manera ideal de darle una respuesta a su necesidad, teniendo en cuenta 3 factores muy importantes, como son la comunicación, el diseño y la creatividad, combinando profesionalismo con arte y un muy buen gusto. Decir las cosas con creatividad tiene mejor resultado.
								</p>
							</div>
						</div>
						<div class="descripcion" rel="7">
							<h2>Soporte Logístico</h2>
							<div>
								<p>
									Ofrecemos el espacio apropiado para el buen mantenimiento de sus objetos,  con gran responsabilidad y una amplia experiencia.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="js/servicios.js"></script>
	</body>
</html>