<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="../public/styles/css/validationEngine.jquery.css">
	<title>Document</title>
</head>
<body>
	<legend>Mi form</legend>
	<form id="formID" action="">
		<fieldset>
			<input type="text" class="validate[required] text-input name" name="name" placeholder="name">				
			<br>
			<input type="text" class="validate[required] text-input lastname" name="lastname" placeholder="lastname">	
			<br>
			<input type="number" class="validate[required,custom[onlyLetterNumber]] text-input age" name="age" placeholder="age">		
			<br>
			<input type="email" class="validate[required,custom[email]] text-input email" name="email" placeholder="email">		
			<br>
			<textarea name="name" id="" cols="30" rows="10" class="validate[required] message" name="message" placeholder="messagge"></textarea>
		</fieldset>
		<!-- <input type="submit" class="submit" value="ENVIAR"> -->

		<button class="submit">SEND</button>
	</form>
	<!-- Modal -->
	<div class="modal fade" id="Message" tabindex="-1" role="dialog" aria-labelledby="MessageLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title" id="MessageLabel">Modal title</h4>
	      </div>
	      <div class="modal-body">
	        !!Mensaje enviado correctamente
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        <button type="button" class="btn btn-primary">Save changes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="../public/js/jquery.validationEngine-en.js"></script>
<script src="../public/js/jquery.validationEngine.js"></script>

<script>
;!function(window,$,undefined){

	var l = console;
		$("#formID").validationEngine('attach',{
				onValidationComplete : function(form,status){
					l.log(form + " : " + status);
					if(status){
						enviar();
					}
				}
		});

		var enviar = function(){

			var name = $(".name").val(),
			lastname = $(".lastname").val(),
			age = $(".age").val(),
			email = $(".email").val(),
			message = $(".message").val(),
			modalMessage = $("#Message"),
			data = {
				name:name,
				lastname:lastname,
				age:age,
				email:email,
				message:message,
			};
			l.log(data)

			$.ajax({
				url: '/contacto.php',
				type: 'GET',
				dataType: 'json',
				data: data
			})
			.done(function(res) {
				if(res){
					modalMessage.modal('show');
					l.log("enviado");
				}else{
					modalMessage.modal('show');
					l.log("error al enviar");
				}
			})
			.always(function() {
				l.log("complete");
			});

		}//function

}(window,jQuery,undefined)

</script>


</body>
</html>