extends layout_hijo
block head_sub
	link(rel="stylesheet",href="/sismarketing/css/css/profile.css")
block content
	#web
		.superior
			block superior
		.wrap
			.sidebar-lateral
				block lateral
			.cuerpo
				block cuerpo-principal
