extends layout_hijo
block head_sub
	link(rel="stylesheet",href="/sismarketing/application/views/public/styles/profile.css")
block content
	#web
		.wrap
			.superior
				block superior
			.barra-lateral
				block lateral
			.cuerpo
				block cuerpo-principal
