extends layout_hijo
block head_sub
	link(rel="stylesheet",href="/sismarketing/css/css/style.css")
block import_sub
	script(src="/sismarketing/js/controllers/loginCtrl.js")
	script(src="/sismarketing/js/services/generalSvs.js")
