extends layout_padre
block head
	link(rel="stylesheet", href="/sismarketing/application/views/public/styles/bootstrap/css/bootstrap.min.css")
	link(rel="stylesheet", href="/sismarketing/application/views/public/styles/bootstrap/css/bootstrap-theme.min.css")
	link(rel="stylesheet", href="/sismarketing/application/views/public/styles/fonts/font-awesome-4.0.3/css/font-awesome.min.css")
	link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Anaheim")
	block head_sub	
block content
block import
	script(src="/sismarketing/application/views/public/js/lib/jquery-2.0.3.min.js")
	script(src="/sismarketing/application/views/public/styles/bootstrap/js/bootstrap.min.js")
	script(src="/sismarketing/application/views/public/js/lib/angular.min.js")
	script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular-sanitize.js")
	script(src="/sismarketing/application/views/public/js/app.js")
	script(src="/sismarketing/application/views/public/js/controllers.js")
	script(src="/sismarketing/application/views/public/js/services.js")
	script(src="/sismarketing/application/views/public/js/factorys.js")
	script(src="/sismarketing/application/views/public/js/filters.js")
	block import_sub