extends layout_padre
block head
	link(rel="stylesheet", href="/sismarketing/css/bootstrap/css/bootstrap.min.css")
	link(rel="stylesheet", href="/sismarketing/css/bootstrap/css/bootstrap-theme.min.css")
	link(rel="stylesheet", href="/sismarketing/css/fonts/font-awesome-4.0.3/css/font-awesome.min.css")
	link(rel="stylesheet", href="/sismarketing/css/css/jquery.mCustomScrollbar.css")
	link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Anaheim")
	block head_sub	
block content
block import
	script(src="/sismarketing/js/lib/jquery-2.0.3.min.js")
	script(src="http://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js")
	script(src="/sismarketing/css/bootstrap/js/bootstrap.min.js")
	script(src="/sismarketing/js/lib/jquery.sidr.min.js")
	script(src="/sismarketing/js/lib/jquery.mCustomScrollbar.concat.min.js")
	script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js")
	script(src="/sismarketing/js/app.js")
	block import_sub