extends layout_hijo
block head_sub
	link(rel="stylesheet",href="/sismarketing/css/css/profile.css")
	link(rel="stylesheet",href="/sismarketing/css/css/jquery.sidr.dark.min.css")
block content
	#web(ng-controller="profileGeneralCtrl")
		.superior
			block superior
		.wrap
			.sidebar-lateral
				block lateral
			.cuerpo
				block cuerpo-principal
block import_sub
	script(src="/sismarketing/js/controllers/accesoModificarDatosCtrl.js")
	script(src="/sismarketing/js/controllers/profileGeneralCtrl.js")
	script(src="/sismarketing/js/services/serviceProfile.js")
	script(src="/sismarketing/js/services/generalSvs.js")
