extends layout_profile
block superior
	.wrap-s
		nav.navbar(class="navbar-inverse",role="navigation")
			.container-fluid
				.navbar-header
					button.navbar-toggle(type="button",data-toggle="collapse",data-target="#bs-example-navbar-collapse-1")
						span.sr-only|Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="#")|Sismarketing
				.collapse(id="#bs-example-navbar-collapse-1",class="navbar-collapse")					
					ul.nav(class="navbar-nav")
						li.active
							a(href="#")|Link
						li
							a(href="#")|Link
						li.dropdown
							a.dropdown-toggle(href="#",data-toggle="dropdown")|Dropdown
								b.caret
							ul.dropdown-menu
								li
									a(href="#")|un link
								li
									a(href="#")|un link
								li.divider
								li
									a(href="#")|un link
					form.navbar-form(class="navbar-left",id="",role="search")				
						.form-group
							input(type="text",class="form-control",placeholder="Search")
						button.btn(type="submit",class="btn-default")|Submit	
					ul.nav(class="navbar-nav navbar-rigth")		
						li
							a.dropdown-toggle(href="#",data-toggle="dropdown")|Dropdown
								b.caret
							ul.dropdown-menu
								li
									a(href="#")|un link
								li
									a(href="#")|un link
								li.divider
								li
									a(href="#")|un link
					form.navbar-form(class="navbar-right")
						.form-group
								button.form-control(class="btn-danger")|Log out				
block lateral
	.wrap-l(id="sidr")
		.lat-header
			.foto(ng-click="mover($event)")
				img(src="{{userPicture}}", ng-model="userPicture",alt="{{userPicture}}")
				i.fa(class="fa-user fa-5x",ng-show="userPicture == 'null'||userPicture==null")
			.data-user(class="well",ng-model="userJob")|{{userJob}}
		.lat-content
			ul.list-group(id="accesos")
				li.list-group-item(class="getActive(acceso.id)",ng-repeat="acceso in userAccess")
					a(href="#{{acceso.id}}",data-toggle="tab")|{{acceso.nombre}}
						i.fa(class="{{acceso.estilos.icono}} fa-2x")
		.lat-footer
block cuerpo-principal
	.wrap-p
		.tab-content(class="panel panel-default",id="tab-content")
			.tab-pane(id="{{acceso.id}}",class="panel-body fade col-md-8 {{getActive(acceso.id)}}",ng-repeat="acceso in userAccess")
				.p-titulo(class="panel-heading")|{{acceso.nombre}}
				.elem(class="",ng-repeat="elemento in acceso.contenido.formulario")
					form.form-horizontal(ng-submit="submitForm()",name="submitForm",role="form")
						.form-group
							label.col-sm-2(class="control-label",ng-show="{{elemento.nodo == 'input'||elemento.nodo == 'select'||elemento.nodo=='textarea'}}")|{{elemento.nombre}}
							.col-sm-10
								input.form-control(name="{{elemento.id}}",class="input",type="{{elemento.type}}",value="{{elemento.value}}",placeholder="{{elemento.nombre}}",ng-show="{{elemento.nodo == 'input'}}")
								textarea.form-control(name="{{elemento.id}}",class="",value="{{elemento.value}}",placeholder="{{elemento.nombre}}",ng-show="{{elemento.nodo == 'textarea'}}")
								select.form-control(name="{{elemento.id}}",class="",ng-show="{{elemento.nodo == 'select'}}")
									option(selected){{elemento.selected}}	
									option(ng-repeat="option in elemento.options", ng-hide="option == elemento.selected"){{option}}	
								br
								button.btn(type="{{elemento.type}}",class="btn-default",ng-show="{{elemento.nodo == 'button'}}"){{elemento.nombre}}
				.p-footer|**Anotaciones

